@font-face {
  font-family: MovaviGrotesque;
  font-display: swap;
  src: url(../fonts/MovaviGrotesque-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
html {
  min-height: 100vh
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: MovaviGrotesque,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent
}
button,
input,
textarea {
  font-family: MovaviGrotesque,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #000
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .45s ease-in-out 0s,visibility .45s ease-in-out 0s
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.section__wrapper {
  position: absolute;
  overflow: hidden;
  inset: 0;
  z-index: 1
}
.section__bg {
  position: absolute;
  inset: 0
}
.logo__crount-norm,
.logo__crount-spin,
.logo__flint-spin,
.logo__flint-svg,
.pack-open img,
.pack.pack-three .pack-three__img,
.pack.pack-two .pack-two__img {
  width: 100%;
  height: auto
}
.loaded .logo__crount-spin,
.logo__crount-norm,
.logo__flint-spin,
.logo__flint-svg {
  transition: opacity .45s ease
}
@-webkit-keyframes spin-1 {
  0% {
    -webkit-transform: rotate(0) scale(2.1);
    transform: rotate(0) scale(2.1)
  }
  100% {
    -webkit-transform: rotate(1080deg) scale(1);
    transform: rotate(1080deg) scale(1)
  }
}
@keyframes spin-1 {
  0% {
    -webkit-transform: rotate(0) scale(2.1);
    transform: rotate(0) scale(2.1)
  }
  100% {
    -webkit-transform: rotate(1080deg) scale(1);
    transform: rotate(1080deg) scale(1)
  }
}
@-webkit-keyframes spin-2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  35% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg)
  }
  65% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg)
  }
  100% {
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg)
  }
}
@keyframes spin-2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  35% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg)
  }
  65% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg)
  }
  100% {
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg)
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0
  }
  35% {
    opacity: 1
  }
  65% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@keyframes opacity {
  0% {
    opacity: 0
  }
  35% {
    opacity: 1
  }
  65% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@-webkit-keyframes opacity-2 {
  0% {
    opacity: 0
  }
  25% {
    opacity: 1
  }
  75% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@keyframes opacity-2 {
  0% {
    opacity: 0
  }
  25% {
    opacity: 1
  }
  75% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@-webkit-keyframes opacity-2-rev {
  0% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes opacity-2-rev {
  0% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@-webkit-keyframes opacity-rev {
  0% {
    opacity: 1
  }
  35% {
    opacity: 0
  }
  65% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes opacity-rev {
  0% {
    opacity: 1
  }
  35% {
    opacity: 0
  }
  65% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 5;
  pointer-events: none
}
.loaded .logo {
  transition: top .85s ease 1.4s,left .75s ease,-webkit-transform .75s ease;
  transition: top .85s ease 1.4s,left .75s ease,transform .75s ease;
  transition: top .85s ease 1.4s,left .75s ease,transform .75s ease,-webkit-transform .75s ease
}
._step-03 .logo {
  transition-delay: 0s
}
.logo__wrapper {
  position: relative;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(0) scale(2.1);
  transform: rotate(0) scale(2.1)
}
.loaded .logo__wrapper {
  -webkit-animation: spin-1 2s ease .5s normal forwards;
  animation: spin-1 2s ease .5s normal forwards
}
._step-03 .logo__wrapper {
  -webkit-animation: spin-2 3s ease 0s normal forwards;
  animation: spin-2 3s ease 0s normal forwards
}
.logo__flint {
  position: relative;
  z-index: 2;
  height: auto;
  opacity: 0
}
.loaded .logo__flint {
  opacity: 1;
  transition: opacity .45s ease 1.2s
}
.logo__flint-svg {
  position: relative;
  z-index: 1
}
._step-03 .logo__flint-svg {
  -webkit-animation: opacity-rev 3s ease 0s normal forwards;
  animation: opacity-rev 3s ease 0s normal forwards
}
.logo__flint-spin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2
}
.loaded .logo__flint-spin {
  opacity: 0;
  transition-delay: 1.7s
}
.logo__crount {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  height: auto
}
.loaded .logo__crount {
  opacity: 0;
  transition: opacity .45s ease 1.2s
}
._step-03 .logo__crount {
  -webkit-animation: opacity 3s ease 0s normal forwards;
  animation: opacity 3s ease 0s normal forwards
}
.logo__crount-norm {
  position: relative;
  z-index: 2
}
.loaded .logo__crount-norm {
  opacity: 0;
  transition-delay: .5s
}
._step-03 .logo__crount-norm {
  -webkit-animation: opacity 3s ease 0s normal forwards;
  animation: opacity 3s ease 0s normal forwards
}
.logo__crount-spin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0
}
.loaded .logo__crount-spin {
  opacity: 1;
  transition-delay: .4s
}
._step-03 .logo__crount-spin {
  -webkit-animation: opacity-2 3s ease 0s normal forwards;
  animation: opacity-2 3s ease 0s normal forwards
}
.over-els {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2
}
.over-els__txt {
  position: absolute;
  z-index: 1
}
.loaded .over-els__txt {
  transition: bottom .75s ease,left .75s ease,top .55s ease,opacity .45s ease,-webkit-transform .75s ease;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,top .55s ease,opacity .45s ease;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,top .55s ease,opacity .45s ease,-webkit-transform .75s ease
}
._step-02 .over-els__txt,
._step-03 .over-els__txt {
  transition-delay: 0s
}
.over-els__txt--00 {
  bottom: 0;
  opacity: 0
}
.loaded .over-els__txt--00 {
  transition-delay: 1.4s
}
._step-02 .over-els__txt--00,
._step-03 .over-els__txt--00 {
  transition-delay: 0s
}
.over-els__txt--01 {
  z-index: 3;
  left: 100%;
  bottom: 14%;
  opacity: 0
}
._step-02 .over-els__txt--01 {
  opacity: 1
}
.over-els__txt--02 {
  left: 100%
}
.fp-section-1 .over-els__txt--02 {
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0)
}
.fp-section-2 .over-els__txt--02,
.fp-section-3 .over-els__txt--02,
.fp-section-4 .over-els__txt--02 {
  left: 0;
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0)
}
.over-els__txt--03 {
  left: 100%;
  bottom: 14%
}
.fp-section-2 .over-els__txt--03 {
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0)
}
.fp-section-3 .over-els__txt--03,
.fp-section-4 .over-els__txt--03 {
  bottom: -10%;
  left: 50%;
  -webkit-transform: translate(-50%,100%);
  transform: translate(-50%,100%)
}
.over-els__txt--04 {
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-50%,-100%);
  transform: translate(-50%,-100%)
}
.fp-section-3 .over-els__txt--04,
.fp-section-4 .over-els__txt--04 {
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0)
}
.fp-section-4 .over-els__txt--04 {
  opacity: 0
}
.over-els__txt-wr {
  width: -webkit-max-content;
  width: max-content;
  background: linear-gradient(94deg,#ea2815 0,#d30b54 100%);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
  -webkit-transform: rotate(-6deg) skew(-6deg);
  transform: rotate(-6deg) skew(-6deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  text-align: center
}
.txt-fs-3 {
  letter-spacing: -.01em
}
.txt-fs-4 {
  letter-spacing: -.01em;
  line-height: 1.03
}
.txt-fs-5 {
  letter-spacing: -.01em;
  line-height: 1.03
}
.txt-fs-6 {
  letter-spacing: -.01em;
  line-height: 1.2
}
.txt-fs-7 {
  letter-spacing: -.03em
}
.txt-fs-8 {
  letter-spacing: -.01em
}
.pack {
  position: absolute;
  transition: bottom .75s ease,left .75s ease,right .85s ease,opacity .55s ease-in-out,-webkit-transform .75s ease;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,right .85s ease,opacity .55s ease-in-out;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,right .85s ease,opacity .55s ease-in-out,-webkit-transform .75s ease
}
.fp-section-3 .pack,
.fp-section-4 .pack {
  opacity: 0
}
.pack.pack-two {
  bottom: -100%
}
.fp-section-2 .pack.pack-two,
.fp-section-3 .pack.pack-two,
.fp-section-4 .pack.pack-two {
  -webkit-transform: translate(0,0) scale(.85) rotate(-5deg);
  transform: translate(0,0) scale(.85) rotate(-5deg)
}
.pack.pack-three {
  right: 100%;
  bottom: 30%;
  -webkit-transform: translate(-100%,0) scale(.85) rotate(-5deg);
  transform: translate(-100%,0) scale(.85) rotate(-5deg)
}
.fp-section-2 .pack.pack-three,
.fp-section-3 .pack.pack-three {
  -webkit-transform: translate(0,0) scale(.85) rotate(5deg);
  transform: translate(0,0) scale(.85) rotate(5deg)
}
.section-0::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  backdrop-filter: blur(15px);
  background-color: rgba(0,0,0,.4)
}
.loaded .section-0::before {
  opacity: 0;
  transition: opacity .85s linear 1.4s
}
.pack-open {
  position: absolute;
  z-index: 2
}
.loaded .pack-open {
  transition: bottom .75s ease,left .75s ease,opacity .45s ease,-webkit-transform .75s ease;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,opacity .45s ease;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,opacity .45s ease,-webkit-transform .75s ease
}
.pack-open__up {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: 0;
  transform-origin: 0
}
._step-02 .pack-open__up {
  -webkit-transform: translate(-100%,0) rotate(-40deg);
  transform: translate(-100%,0) rotate(-40deg);
  transition: -webkit-transform .85s ease .55s;
  transition: transform .85s ease .55s;
  transition: transform .85s ease .55s,-webkit-transform .85s ease .55s
}
.pack-open__dw {
  position: relative;
  z-index: 3
}
.pack-open__crount {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 51%;
  width: 75%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0)
}
._step-02 .pack-open__crount {
  top: -5%;
  transition: top .45s ease .75s
}
@media (min-width:30.06125em) {
  .over-els__txt--00 {
    left: 8%;
    -webkit-transform: translate(0,100%);
    transform: translate(0,100%)
  }
  .loaded .over-els__txt--00 {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1
  }
  ._step-02 .over-els__txt--00 {
    left: 0;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0)
  }
  ._step-02 .over-els__txt--01 {
    left: 8%
  }
  .fp-section-1 .over-els__txt--01 {
    left: 0;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0)
  }
  .pack-open {
    left: 54%;
    bottom: 14%;
    opacity: 0;
    -webkit-transform: translate(0,0) rotate(11deg) scale(.55);
    transform: translate(0,0) rotate(11deg) scale(.55)
  }
  ._step-02 .pack-open {
    left: 12%;
    bottom: 24%;
    opacity: 1;
    -webkit-transform: translate(0,0) rotate(-5.7deg);
    transform: translate(0,0) rotate(-5.7deg)
  }
  .fp-section-1 .pack-open {
    left: 0;
    -webkit-transform: translate(-100%,0) rotate(-5.7deg);
    transform: translate(-100%,0) rotate(-5.7deg)
  }
}
@media (min-width:51.31125em) {
  .fp-section-3 .logo {
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1.5);
    transform: translate(-50%,-50%) scale(1.5)
  }
  .over-els__txt--02 {
    bottom: 14%
  }
  .fp-section-3 .over-els__txt--04,
  .fp-section-4 .over-els__txt--04 {
    top: 25%
  }
  .pack.pack-two {
    left: 19%
  }
  .fp-section-1 .pack.pack-two {
    bottom: -17%
  }
  .fp-section-2 .pack.pack-two,
  .fp-section-3 .pack.pack-two,
  .fp-section-4 .pack.pack-two {
    left: 5%;
    bottom: 0
  }
  .fp-section-2 .pack.pack-three,
  .fp-section-3 .pack.pack-three {
    right: 5%;
    bottom: 0
  }
}
@media (min-width:93.81125em) {
  .loaded .over-els__txt--00 {
    bottom: 10%!important
  }
}
@media (min-width:96.93625em) {
  .loaded .logo {
    top: 14%
  }
  .fp-section-1 .logo {
    left: 93%
  }
  .fp-section-2 .logo {
    left: 93%
  }
  .pack-open {
    bottom: 4%
  }
}
@media (min-width:120.06125em) {
  .logo__flint {
    width: 6.25rem
  }
  .logo__crount {
    width: 14.5rem
  }
  .over-els__txt-wr {
    padding-block: 1.25rem
  }
  .over-els__txt-wr {
    padding-inline: 1.6875rem
  }
  .txt-fs-1 {
    font-size: 6.875rem
  }
  .txt-fs-2 {
    font-size: 4.6875rem
  }
  .txt-fs-3 {
    font-size: 3.25rem
  }
  .txt-fs-4 {
    font-size: 2.9375rem
  }
  .txt-fs-5 {
    font-size: 2.9375rem
  }
  .txt-fs-6 {
    font-size: 4.6875rem
  }
  .txt-fs-7 {
    font-size: 3rem
  }
  .txt-fs-8 {
    font-size: 5.375rem
  }
  .pack {
    width: 29.375rem
  }
  .pack-open {
    width: 22.5rem
  }
}
@media (max-width:96.93625em) {
  .loaded .logo {
    top: 20%
  }
  .loaded .over-els__txt--00 {
    bottom: 14%
  }
}
@media (max-width:90.06125em) {
  .logo__flint {
    width: 4.375rem
  }
  .logo__crount {
    width: 10.125rem
  }
}
@media (max-width:51.31125em) {
  .fp-section-1 .logo {
    top: 8%;
    left: 13%;
    -webkit-transform: translate(-50%,-50%) scale(.7);
    transform: translate(-50%,-50%) scale(.7)
  }
  .fp-section-2 .logo {
    top: 8%;
    left: 13%;
    -webkit-transform: translate(-50%,-50%) scale(.7);
    transform: translate(-50%,-50%) scale(.7)
  }
  .fp-section-3 .logo {
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1)
  }
  .over-els__txt--02 {
    top: 45%
  }
  .fp-section-3 .over-els__txt--04,
  .fp-section-4 .over-els__txt--04 {
    top: 75%
  }
  .pack.pack-two {
    left: -2%
  }
  .fp-section-1 .pack.pack-two {
    bottom: 10%
  }
  .fp-section-2 .pack.pack-two,
  .fp-section-3 .pack.pack-two,
  .fp-section-4 .pack.pack-two {
    left: 8%;
    bottom: 15%
  }
  .fp-section-2 .pack.pack-three,
  .fp-section-3 .pack.pack-three {
    right: 8%;
    bottom: 19%
  }
  .section-1__bg img {
    -o-object-position: bottom;
    object-position: bottom
  }
}
@media (max-width:30.06125em) {
  .logo__flint {
    width: 6.25rem!important
  }
  .logo__crount {
    width: 10.75rem!important
  }
  .over-els__txt--00 {
    left: 50%;
    -webkit-transform: translate(-50%,100%);
    transform: translate(-50%,100%)
  }
  .loaded .over-els__txt--00 {
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    opacity: 1
  }
  ._step-02 .over-els__txt--00 {
    left: 0;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0)
  }
  .over-els__txt--01 {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  ._step-02 .over-els__txt--01 {
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .fp-section-1 .over-els__txt--01 {
    left: 0;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0)
  }
  .over-els__txt-wr {
    padding-block: .75rem
  }
  .over-els__txt-wr {
    padding-inline: .75rem
  }
  .txt-fs-1 {
    font-size: 3.4375rem
  }
  .txt-fs-2 {
    font-size: 2.3125rem
  }
  .txt-fs-3 {
    font-size: 1.625rem
  }
  .txt-fs-4 {
    font-size: 1.9375rem
  }
  .txt-fs-5 {
    font-size: 2.1875rem
  }
  .txt-fs-6 {
    font-size: 1.625rem
  }
  .txt-fs-7 {
    font-size: 1.75rem
  }
  .txt-fs-8 {
    font-size: 3.1875rem
  }
  .pack {
    width: 12.375rem
  }
  .section-0__bg img {
    -o-object-position: bottom;
    object-position: bottom
  }
  .pack-open {
    width: 10.8125rem
  }
  .pack-open {
    left: 60%;
    bottom: 26%;
    opacity: 0;
    -webkit-transform: translate(0,0) rotate(11deg) scale(.7);
    transform: translate(0,0) rotate(11deg) scale(.7)
  }
  ._step-02 .pack-open {
    left: 10%;
    bottom: 22.5%;
    opacity: 1;
    -webkit-transform: translate(0,0) rotate(-5.7deg);
    transform: translate(0,0) rotate(-5.7deg)
  }
  .fp-section-1 .pack-open {
    left: 0;
    -webkit-transform: translate(-100%,0) rotate(-5.7deg);
    transform: translate(-100%,0) rotate(-5.7deg)
  }
}
@media (max-width:24.43625em) {
  .loaded .logo {
    top: 10%
  }
  .over-els__txt--02 {
    top: 40%
  }
  .fp-section-1 .pack.pack-two {
    bottom: 3%
  }
  .pack-open {
    bottom: 29%
  }
}
@media (max-width:23.81125em) {
  .logo__flint {
    width: 5rem!important
  }
  .logo__crount {
    width: 8.5625rem!important
  }
}
@media (max-width:96.93625em)and (min-width:51.31125em) {
  .fp-section-1 .logo {
    left: 93%;
    top: 10%
  }
  .fp-section-2 .logo {
    left: 93%;
    top: 10%
  }
  .fp-section-3 .logo {
    top: 10%
  }
  .fp-section-4 .logo {
    top: 10%
  }
}
@media (min-width:90.06125em)and (max-width:120.06125em) {
  .logo__flint {
    width: clamp(4.375rem ,-1.253828125rem + 6.25vw ,6.25rem)
  }
  .logo__crount {
    width: clamp(10.125rem ,-3.0089322917rem + 14.5833333333vw ,14.5rem)
  }
  .over-els__txt-wr {
    padding-block: clamp(.875rem ,-.250765625rem + 1.25vw ,1.25rem)
  }
  .over-els__txt-wr {
    padding-inline: clamp(1.3125rem ,.186734375rem + 1.25vw ,1.6875rem)
  }
  .txt-fs-1 {
    font-size: clamp(5.3125rem ,.6218098958rem + 5.2083333333vw ,6.875rem)
  }
  .txt-fs-2 {
    font-size: clamp(3.625rem ,.4353307292rem + 3.5416666667vw ,4.6875rem)
  }
  .txt-fs-3 {
    font-size: clamp(2.5rem ,.24846875rem + 2.5vw ,3.25rem)
  }
  .txt-fs-4 {
    font-size: clamp(2.5rem ,1.1866067708rem + 1.4583333333vw ,2.9375rem)
  }
  .txt-fs-5 {
    font-size: clamp(2.5rem ,1.1866067708rem + 1.4583333333vw ,2.9375rem)
  }
  .txt-fs-6 {
    font-size: clamp(3.4375rem ,-.3150520833rem + 4.1666666667vw ,4.6875rem)
  }
  .txt-fs-7 {
    font-size: clamp(2.0625rem ,-.7519140625rem + 3.125vw ,3rem)
  }
  .txt-fs-8 {
    font-size: clamp(3.75rem ,-1.1283177083rem + 5.4166666667vw ,5.375rem)
  }
  .pack {
    width: clamp(22.75rem ,2.8614739583rem + 22.0833333333vw ,29.375rem)
  }
  .pack-open {
    width: clamp(17.9375rem ,4.2406848958rem + 15.2083333333vw ,22.5rem)
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .over-els__txt-wr {
    padding-block: clamp(.75rem ,.6873723958rem + .2083333333vw ,.875rem)
  }
  .over-els__txt-wr {
    padding-inline: clamp(.75rem ,.4681757813rem + .9375vw ,1.3125rem)
  }
  .txt-fs-1 {
    font-size: clamp(3.4375rem ,2.4980859375rem + 3.125vw ,5.3125rem)
  }
  .txt-fs-2 {
    font-size: clamp(2.3125rem ,1.6549101563rem + 2.1875vw ,3.625rem)
  }
  .txt-fs-3 {
    font-size: clamp(1.625rem ,1.1866067708rem + 1.4583333333vw ,2.5rem)
  }
  .txt-fs-4 {
    font-size: clamp(1.9375rem ,1.6556757813rem + .9375vw ,2.5rem)
  }
  .txt-fs-5 {
    font-size: clamp(2.1875rem ,2.0309309896rem + .5208333333vw ,2.5rem)
  }
  .txt-fs-6 {
    font-size: clamp(1.625rem ,.7168997396rem + 3.0208333333vw ,3.4375rem)
  }
  .txt-fs-7 {
    font-size: clamp(1.75rem ,1.5934309896rem + .5208333333vw ,2.0625rem)
  }
  .txt-fs-8 {
    font-size: clamp(3.1875rem ,2.9056757813rem + .9375vw ,3.75rem)
  }
  .pack {
    width: clamp(12.375rem ,7.1769088542rem + 17.2916666667vw ,22.75rem)
  }
  .pack-open {
    width: clamp(10.8125rem ,7.2427265625rem + 11.875vw ,17.9375rem)
  }
}