@font-face {
  font-family: MovaviGrotesque;
  font-display: swap;
  src: url(../fonts/MovaviGrotesque-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
html {
  min-height: 100vh
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: MovaviGrotesque,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent
}
button,
input,
textarea {
  font-family: MovaviGrotesque,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #000
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100dvh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .45s ease-in-out 0s,visibility .45s ease-in-out 0s
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.txt-fs-3 {
  letter-spacing: -.01em
}
.txt-fs-4 {
  letter-spacing: -.01em;
  line-height: 1.03
}
.txt-fs-5 {
  letter-spacing: -.01em;
  line-height: 1.03
}
.txt-fs-6 {
  letter-spacing: -.01em;
  line-height: 1.2
}
.txt-fs-7 {
  letter-spacing: -.03em
}
.txt-fs-8 {
  letter-spacing: -.01em
}
.logo__crount-norm,
.logo__crount-spin,
.logo__flint-spin,
.logo__flint-svg,
.pack-open img,
.pack.pack-three .pack-three__img,
.pack.pack-two .pack-two__img {
  width: 100%;
  height: auto
}
.loaded .logo__crount-spin,
.logo__crount-norm,
.logo__flint-spin,
.logo__flint-svg {
  transition: opacity .45s ease
}
@-webkit-keyframes spin-1 {
  0% {
    -webkit-transform: rotate(0) scale(2.1);
    transform: rotate(0) scale(2.1)
  }
  100% {
    -webkit-transform: rotate(1080deg) scale(1);
    transform: rotate(1080deg) scale(1)
  }
}
@keyframes spin-1 {
  0% {
    -webkit-transform: rotate(0) scale(2.1);
    transform: rotate(0) scale(2.1)
  }
  100% {
    -webkit-transform: rotate(1080deg) scale(1);
    transform: rotate(1080deg) scale(1)
  }
}
@-webkit-keyframes spin-2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  35% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg)
  }
  65% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg)
  }
  100% {
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg)
  }
}
@keyframes spin-2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  35% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg)
  }
  65% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg)
  }
  100% {
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg)
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0
  }
  35% {
    opacity: 1
  }
  65% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@keyframes opacity {
  0% {
    opacity: 0
  }
  35% {
    opacity: 1
  }
  65% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@-webkit-keyframes opacity-2 {
  0% {
    opacity: 0
  }
  25% {
    opacity: 1
  }
  75% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@keyframes opacity-2 {
  0% {
    opacity: 0
  }
  25% {
    opacity: 1
  }
  75% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@-webkit-keyframes opacity-2-rev {
  0% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes opacity-2-rev {
  0% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@-webkit-keyframes opacity-rev {
  0% {
    opacity: 1
  }
  35% {
    opacity: 0
  }
  65% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes opacity-rev {
  0% {
    opacity: 1
  }
  35% {
    opacity: 0
  }
  65% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
.section__wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1
}
.section__bg {
  position: absolute;
  inset: 0
}
.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 5;
  pointer-events: none
}
.loaded .logo {
  transition: top .85s ease 1.4s,left .75s ease,-webkit-transform .75s ease;
  transition: top .85s ease 1.4s,left .75s ease,transform .75s ease;
  transition: top .85s ease 1.4s,left .75s ease,transform .75s ease,-webkit-transform .75s ease
}
._step-03 .logo {
  transition-delay: 0s
}
.logo__wrapper {
  position: relative;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(0) scale(2.1);
  transform: rotate(0) scale(2.1)
}
.loaded .logo__wrapper {
  -webkit-animation: spin-1 2s ease .5s normal forwards;
  animation: spin-1 2s ease .5s normal forwards
}
._step-03 .logo__wrapper {
  -webkit-animation: spin-2 3s ease 0s normal forwards;
  animation: spin-2 3s ease 0s normal forwards
}
.logo__flint {
  position: relative;
  z-index: 2;
  height: auto;
  opacity: 0
}
.loaded .logo__flint {
  opacity: 1;
  transition: opacity .45s ease 1.2s
}
.logo__flint-svg {
  position: relative;
  z-index: 1
}
._step-03 .logo__flint-svg {
  -webkit-animation: opacity-rev 3s ease 0s normal forwards;
  animation: opacity-rev 3s ease 0s normal forwards
}
.logo__flint-spin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2
}
.loaded .logo__flint-spin {
  opacity: 0;
  transition-delay: 1.7s
}
.logo__crount {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  height: auto
}
.loaded .logo__crount {
  opacity: 0;
  transition: opacity .45s ease 1.2s
}
._step-03 .logo__crount {
  -webkit-animation: opacity 3s ease 0s normal forwards;
  animation: opacity 3s ease 0s normal forwards
}
.logo__crount-norm {
  position: relative;
  z-index: 2
}
.loaded .logo__crount-norm {
  opacity: 0;
  transition-delay: .5s
}
._step-03 .logo__crount-norm {
  -webkit-animation: opacity 3s ease 0s normal forwards;
  animation: opacity 3s ease 0s normal forwards
}
.logo__crount-spin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0
}
.loaded .logo__crount-spin {
  opacity: 1;
  transition-delay: .4s
}
._step-03 .logo__crount-spin {
  -webkit-animation: opacity-2 3s ease 0s normal forwards;
  animation: opacity-2 3s ease 0s normal forwards
}
.over-els {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 2
}
.over-els__txt {
  position: absolute;
  z-index: 1
}
.loaded .over-els__txt {
  transition: bottom .75s ease,left .75s ease,top .55s ease,opacity .45s ease,-webkit-transform .75s ease;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,top .55s ease,opacity .45s ease;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,top .55s ease,opacity .45s ease,-webkit-transform .75s ease
}
._step-02 .over-els__txt,
._step-03 .over-els__txt {
  transition-delay: 0s
}
.over-els__txt--00 {
  bottom: 0;
  opacity: 0
}
.loaded .over-els__txt--00 {
  transition-delay: 1.4s
}
._step-02 .over-els__txt--00,
._step-03 .over-els__txt--00 {
  transition-delay: 0s
}
.over-els__txt--01 {
  z-index: 3;
  left: 100%;
  opacity: 0
}
._step-02 .over-els__txt--01 {
  opacity: 1
}
.over-els__txt--02 {
  left: 100%
}
.fp-section-1 .over-els__txt--02 {
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.fp-section-2 .over-els__txt--02,
.fp-section-3 .over-els__txt--02,
.fp-section-4 .over-els__txt--02 {
  left: 0;
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0)
}
.over-els__txt--03 {
  left: 100%;
  bottom: 16%
}
.fp-section-2 .over-els__txt--03 {
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0)
}
.fp-section-3 .over-els__txt--03,
.fp-section-4 .over-els__txt--03 {
  bottom: -10%;
  left: 50%;
  -webkit-transform: translate(-50%,100%);
  transform: translate(-50%,100%)
}
.over-els__txt--04 {
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-50%,-100%);
  transform: translate(-50%,-100%)
}
.fp-section-3 .over-els__txt--04,
.fp-section-4 .over-els__txt--04 {
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0)
}
.fp-section-4 .over-els__txt--04 {
  opacity: 0
}
.over-els__txt-wr {
  width: -webkit-max-content;
  width: max-content;
  background: linear-gradient(94deg,#ea2815 0,#d30b54 100%);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
  -webkit-transform: rotate(-6deg) skew(-6deg);
  transform: rotate(-6deg) skew(-6deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  text-align: center
}
.scroll-btn {
  position: absolute;
  z-index: 10;
  bottom: 0;
  -webkit-transform: translate(-50%,100%);
  transform: translate(-50%,100%);
  display: grid;
  place-items: center;
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
  background: linear-gradient(93deg,#d30b54 0,#ea2815 100%)
}
.loaded .scroll-btn {
  transition: bottom .75s ease,-webkit-transform .75s ease;
  transition: transform .75s ease,bottom .75s ease;
  transition: transform .75s ease,bottom .75s ease,-webkit-transform .75s ease
}
.scroll-btn__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4375rem
}
.scroll-btn__img-arr {
  -webkit-animation: scrollArrowMove 1.5s ease-in-out infinite;
  animation: scrollArrowMove 1.5s ease-in-out infinite
}
.fp-section-0.fp-up .section-0 .scroll-btn,
.fp-section-1 .section-1 .scroll-btn,
.fp-section-2 .section-2 .scroll-btn,
.fp-section-3 .section-3 .scroll-btn {
  transition-delay: .85s
}
@-webkit-keyframes scrollArrowMove {
  0%,
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px)
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px)
  }
}
@keyframes scrollArrowMove {
  0%,
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px)
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px)
  }
}
.pack {
  position: absolute;
  transition: bottom .75s ease,left .75s ease,right .85s ease,opacity .55s ease-in-out,-webkit-transform .75s ease;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,right .85s ease,opacity .55s ease-in-out;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,right .85s ease,opacity .55s ease-in-out,-webkit-transform .75s ease
}
.fp-section-3 .pack,
.fp-section-4 .pack {
  opacity: 0
}
.pack.pack-two {
  bottom: -100%
}
.fp-section-2 .pack.pack-two,
.fp-section-3 .pack.pack-two,
.fp-section-4 .pack.pack-two {
  -webkit-transform: translate(0,0) scale(.85) rotate(-5deg);
  transform: translate(0,0) scale(.85) rotate(-5deg)
}
.pack.pack-three {
  right: 100%;
  bottom: 30%;
  -webkit-transform: translate(-100%,0) scale(.85) rotate(-5deg);
  transform: translate(-100%,0) scale(.85) rotate(-5deg)
}
.fp-section-2 .pack.pack-three,
.fp-section-3 .pack.pack-three {
  -webkit-transform: translate(0,0) scale(.85) rotate(5deg);
  transform: translate(0,0) scale(.85) rotate(5deg)
}
.section-0::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  backdrop-filter: blur(15px);
  background-color: rgba(0,0,0,.4);
  pointer-events: none
}
.loaded .section-0::before {
  opacity: 0;
  transition: opacity .85s linear 1.4s
}
.loaded.fp-section-0:not(.fp-up) .section-0 .scroll-btn {
  bottom: 1.25rem;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  transition-delay: 5s
}
.pack-open {
  position: absolute;
  z-index: 2
}
.loaded .pack-open {
  transition: bottom .75s ease,left .75s ease,opacity .45s ease,-webkit-transform .75s ease;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,opacity .45s ease;
  transition: transform .75s ease,bottom .75s ease,left .75s ease,opacity .45s ease,-webkit-transform .75s ease
}
.pack-open__up {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: 0;
  transform-origin: 0
}
._step-02 .pack-open__up {
  -webkit-transform: translate(-100%,0) rotate(-40deg);
  transform: translate(-100%,0) rotate(-40deg);
  transition: -webkit-transform .85s ease .55s;
  transition: transform .85s ease .55s;
  transition: transform .85s ease .55s,-webkit-transform .85s ease .55s
}
.pack-open__dw {
  position: relative;
  z-index: 3
}
.pack-open__crount {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 51%;
  width: 75%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0)
}
._step-02 .pack-open__crount {
  top: -5%;
  transition: top .45s ease .75s
}
.section-4__wrapper {
  padding: 1.25rem;
  display: grid;
  align-items: center
}
.section-4__block {
  position: relative;
  z-index: 3;
  transition: -webkit-transform .75s ease;
  transition: transform .75s ease;
  transition: transform .75s ease,-webkit-transform .75s ease;
  -webkit-transform: translate(0,-100%);
  transform: translate(0,-100%)
}
.fp-section-4 .section-4__block {
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.section-4__video {
  margin-inline: auto
}
.section-4__list {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  display: flex;
  align-items: center;
  gap: 3.125rem;
  max-width: -webkit-max-content;
  max-width: max-content;
  transition: bottom .75s ease;
  bottom: 0
}
.section-4__link {
  display: inline-block;
  box-shadow: 20px 20px 25px 0 rgba(0,0,0,.45);
  transition: -webkit-transform .45s ease;
  transition: transform .45s ease;
  transition: transform .45s ease,-webkit-transform .45s ease
}
.section-4__crounts {
  position: absolute;
  inset: 0;
  z-index: 2
}
.section-4__crounts-img {
  position: absolute;
  z-index: 2;
  height: auto
}
.section-4__crounts-img.crounts-img-01 {
  left: 0
}
.section-4__crounts-img.crounts-img-02 {
  top: 0;
  right: 0;
  width: 15.5rem
}
.section-4__crounts-img.crounts-img-03 {
  width: 8.75rem
}
.section-4__crounts-img {
  transition: left .75s ease,right .75s ease,top .75s ease,bottom .75s ease,-webkit-transform .75s ease;
  transition: left .75s ease,right .75s ease,top .75s ease,bottom .75s ease,transform .75s ease;
  transition: left .75s ease,right .75s ease,top .75s ease,bottom .75s ease,transform .75s ease,-webkit-transform .75s ease
}
.video-youtube {
  background-color: #fff;
  width: 100%
}
.video-youtube__body {
  position: relative;
  z-index: 2;
  background-color: #000;
  margin-inline: auto;
  width: 100%;
  aspect-ratio: 1000/560;
  outline: .625rem solid #fff
}
.video-youtube__body iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 1000/560
}
.video-youtube__button {
  overflow: hidden;
  position: relative;
  z-index: 0;
  width: 100%
}
.video-youtube__button::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: -webkit-transform .65s ease;
  transition: transform .65s ease;
  transition: transform .65s ease,-webkit-transform .65s ease;
  aspect-ratio: 1
}
@media (min-width:30.06125em) {
  .over-els__txt--00 {
    left: 8%;
    -webkit-transform: translate(0,100%);
    transform: translate(0,100%)
  }
  .loaded .over-els__txt--00 {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1
  }
  ._step-02 .over-els__txt--00 {
    left: 0;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0)
  }
  .over-els__txt--01 {
    bottom: 14%
  }
  ._step-02 .over-els__txt--01 {
    left: 8%
  }
  .fp-section-1 .over-els__txt--01 {
    left: 0;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0)
  }
  .scroll-btn {
    left: 50%
  }
  .fp-section-0.fp-up .section-0 .scroll-btn,
  .fp-section-1 .section-1 .scroll-btn,
  .fp-section-2 .section-2 .scroll-btn,
  .fp-section-3 .section-3 .scroll-btn {
    bottom: 1.25rem;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .pack-open {
    left: 54%;
    bottom: 14%;
    opacity: 0;
    -webkit-transform: translate(0,0) rotate(11deg) scale(.55);
    transform: translate(0,0) rotate(11deg) scale(.55)
  }
  ._step-02 .pack-open {
    left: 12%;
    bottom: 24%;
    opacity: 1;
    -webkit-transform: translate(0,0) rotate(-5.7deg);
    transform: translate(0,0) rotate(-5.7deg)
  }
  .fp-section-1 .pack-open {
    left: 0;
    -webkit-transform: translate(-100%,0) rotate(-5.7deg);
    transform: translate(-100%,0) rotate(-5.7deg)
  }
  .fp-section-4 .section-4__list {
    bottom: -6.0625rem
  }
  .section-4__crounts-img.crounts-img-01 {
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
    transform: translate(-50%,-50%) rotate(-90deg);
    top: 50%
  }
  .fp-section-4 .section-4__crounts-img.crounts-img-01 {
    left: 23%;
    -webkit-transform: translate(-50%,-50%) rotate(30deg);
    transform: translate(-50%,-50%) rotate(30deg)
  }
  .section-4__crounts-img.crounts-img-02 {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg)
  }
  .fp-section-4 .section-4__crounts-img.crounts-img-02 {
    top: 20%;
    right: 18%;
    -webkit-transform: rotate(190deg);
    transform: rotate(190deg)
  }
  .section-4__crounts-img.crounts-img-03 {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
  }
  .fp-section-4 .section-4__crounts-img.crounts-img-03 {
    bottom: 20%;
    right: 20%;
    -webkit-transform: rotate(-53deg);
    transform: rotate(-53deg)
  }
  .section-4__crounts-img.crounts-img-04 {
    display: none
  }
}
@media (min-width:51.31125em) {
  .fp-section-3 .logo {
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1.5);
    transform: translate(-50%,-50%) scale(1.5)
  }
  .over-els__txt--02 {
    bottom: 18%
  }
  .fp-section-3 .over-els__txt--04,
  .fp-section-4 .over-els__txt--04 {
    top: 25%
  }
  .pack.pack-two {
    left: 10%
  }
  .fp-section-1 .pack.pack-two {
    bottom: 3%
  }
  .fp-section-2 .pack.pack-two,
  .fp-section-3 .pack.pack-two,
  .fp-section-4 .pack.pack-two {
    left: 5%;
    bottom: 0
  }
  .fp-section-2 .pack.pack-three,
  .fp-section-3 .pack.pack-three {
    right: 5%;
    bottom: 0
  }
}
@media (min-width:93.81125em) {
  .fp-section-4 .logo {
    top: 8%
  }
  .loaded .over-els__txt--00 {
    bottom: 10%!important
  }
}
@media (min-width:96.93625em) {
  .loaded .logo {
    top: 14%
  }
  .fp-section-1 .logo {
    left: 93%
  }
  .fp-section-2 .logo {
    left: 93%
  }
  .pack-open {
    bottom: 4%
  }
}
@media (min-width:120.06125em) {
  .txt-fs-1 {
    font-size: 6.875rem
  }
  .txt-fs-2 {
    font-size: 4.6875rem
  }
  .txt-fs-3 {
    font-size: 3.25rem
  }
  .txt-fs-4 {
    font-size: 2.9375rem
  }
  .txt-fs-5 {
    font-size: 2.9375rem
  }
  .txt-fs-6 {
    font-size: 4.6875rem
  }
  .txt-fs-7 {
    font-size: 3rem
  }
  .txt-fs-8 {
    font-size: 5.375rem
  }
  .logo__flint {
    width: 6.25rem
  }
  .logo__crount {
    width: 14.5rem
  }
  .over-els__txt-wr {
    padding-block: 1.25rem
  }
  .over-els__txt-wr {
    padding-inline: 1.6875rem
  }
  .pack {
    width: 29.375rem
  }
  .pack-open {
    width: 22.5rem
  }
  .section-4__crounts-img.crounts-img-01 {
    width: 15.625rem
  }
  .video-youtube__button::before {
    width: 9.375rem
  }
}
@media (min-width:120em) {
  .video-youtube {
    max-width: 62.5rem
  }
}
@media (max-width:96.93625em) {
  .loaded .logo {
    top: 20%
  }
  .loaded .over-els__txt--00 {
    bottom: 14%
  }
}
@media (max-width:90.06125em) {
  .logo__flint {
    width: 4.375rem
  }
  .logo__crount {
    width: 10.125rem
  }
  .video-youtube {
    max-width: 45.625rem
  }
}
@media (max-width:51.31125em) {
  .fp-section-1 .logo {
    top: 8%;
    left: 13%;
    -webkit-transform: translate(-50%,-50%) scale(.7);
    transform: translate(-50%,-50%) scale(.7)
  }
  .fp-section-2 .logo {
    top: 8%;
    left: 13%;
    -webkit-transform: translate(-50%,-50%) scale(.7);
    transform: translate(-50%,-50%) scale(.7)
  }
  .fp-section-3 .logo {
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1)
  }
  .over-els__txt--02 {
    top: 55%
  }
  .fp-section-3 .over-els__txt--04,
  .fp-section-4 .over-els__txt--04 {
    top: 68%
  }
  .pack.pack-two {
    left: -2%
  }
  .fp-section-1 .pack.pack-two {
    bottom: 5%
  }
  .fp-section-2 .pack.pack-two,
  .fp-section-3 .pack.pack-two,
  .fp-section-4 .pack.pack-two {
    left: 8%;
    bottom: 15%
  }
  .fp-section-2 .pack.pack-three,
  .fp-section-3 .pack.pack-three {
    right: 8%;
    bottom: 19%
  }
  .section-1__bg img {
    -o-object-position: bottom;
    object-position: bottom
  }
  .section-2__bg img {
    -o-object-position: top;
    object-position: top
  }
  .section-3__bg img {
    -o-object-position: bottom;
    object-position: bottom
  }
}
@media (max-width:30.06125em) {
  .txt-fs-1 {
    font-size: 3.4375rem
  }
  .txt-fs-2 {
    font-size: 2.3125rem
  }
  .txt-fs-3 {
    font-size: 1.625rem
  }
  .txt-fs-4 {
    font-size: 1.9375rem
  }
  .txt-fs-5 {
    font-size: 2.1875rem
  }
  .txt-fs-6 {
    font-size: 1.625rem
  }
  .txt-fs-7 {
    font-size: 1.75rem
  }
  .txt-fs-8 {
    font-size: 3.1875rem
  }
  .logo__flint {
    width: 6.25rem!important
  }
  .logo__crount {
    width: 10.75rem!important
  }
  .over-els__txt--00 {
    left: 50%;
    -webkit-transform: translate(-50%,100%);
    transform: translate(-50%,100%)
  }
  .loaded .over-els__txt--00 {
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    opacity: 1
  }
  ._step-02 .over-els__txt--00 {
    left: 0;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0)
  }
  .over-els__txt--01 {
    bottom: 8%;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  ._step-02 .over-els__txt--01 {
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .fp-section-1 .over-els__txt--01 {
    left: 0;
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0)
  }
  .over-els__txt-wr {
    padding-block: .75rem
  }
  .over-els__txt-wr {
    padding-inline: .75rem
  }
  .pack {
    width: 12.375rem
  }
  .section-0 .scroll-btn {
    left: 80%
  }
  .loaded.fp-section-0:not(.fp-up) .section-0 .scroll-btn {
    bottom: 40%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .fp-section-0.fp-up .section-0 .scroll-btn {
    bottom: 40%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .section-0__bg img {
    -o-object-position: bottom;
    object-position: bottom
  }
  .pack-open {
    width: 10.8125rem
  }
  .pack-open {
    left: 60%;
    bottom: 26%;
    opacity: 0;
    -webkit-transform: translate(0,0) rotate(11deg) scale(.7);
    transform: translate(0,0) rotate(11deg) scale(.7)
  }
  ._step-02 .pack-open {
    left: 10%;
    bottom: 17%;
    opacity: 1;
    -webkit-transform: translate(0,0) rotate(-5.7deg);
    transform: translate(0,0) rotate(-5.7deg)
  }
  .fp-section-1 .pack-open {
    left: 0;
    -webkit-transform: translate(-100%,0) rotate(-5.7deg);
    transform: translate(-100%,0) rotate(-5.7deg)
  }
  .section-1 .scroll-btn {
    left: 80%
  }
  .fp-section-1 .section-1 .scroll-btn {
    bottom: 15%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .section-2 .scroll-btn {
    left: 50%
  }
  .fp-section-2 .section-2 .scroll-btn {
    bottom: 1.25rem;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .section-3 .scroll-btn {
    left: 50%
  }
  .fp-section-3 .section-3 .scroll-btn {
    bottom: 1.25rem;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .fp-section-4 .section-4__list {
    bottom: -7.5rem
  }
  .section-4__crounts-img.crounts-img-01 {
    width: 8.75rem
  }
  .section-4__crounts-img.crounts-img-01 {
    -webkit-transform: translate(-100%,-100%) rotate(30deg);
    transform: translate(-100%,-100%) rotate(30deg);
    top: 0
  }
  .fp-section-4 .section-4__crounts-img.crounts-img-01 {
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
    transform: translate(-50%,-50%) rotate(-90deg);
    top: 10%
  }
  .section-4__crounts-img.crounts-img-02 {
    -webkit-transform: translate(100%,-100%) rotate(100deg);
    transform: translate(100%,-100%) rotate(100deg)
  }
  .fp-section-4 .section-4__crounts-img.crounts-img-02 {
    -webkit-transform: translate(50%,-50%) rotate(190deg);
    transform: translate(50%,-50%) rotate(190deg)
  }
  .section-4__crounts-img.crounts-img-03 {
    bottom: -10%;
    right: -10%;
    -webkit-transform: translate(100%,100%) rotate(40deg);
    transform: translate(100%,100%) rotate(40deg)
  }
  .fp-section-4 .section-4__crounts-img.crounts-img-03 {
    bottom: 10%;
    right: 10%;
    -webkit-transform: translate(50%,50%) rotate(100deg);
    transform: translate(50%,50%) rotate(100deg)
  }
  .section-4__crounts-img.crounts-img-04 {
    bottom: 0;
    left: 0;
    width: 13.3125rem;
    -webkit-transform: translate(-100%,50%) rotate(-30deg);
    transform: translate(-100%,50%) rotate(-30deg)
  }
  .fp-section-4 .section-4__crounts-img.crounts-img-04 {
    -webkit-transform: translate(-50%,0) rotate(10deg);
    transform: translate(-50%,0) rotate(10deg)
  }
  .video-youtube__body {
    outline-width: .4375rem
  }
  .video-youtube__button::before {
    width: 3.75rem
  }
}
@media (max-width:24.43625em) {
  .loaded .logo {
    top: 10%
  }
  .over-els__txt--02 {
    top: 60%
  }
  .fp-section-1 .pack.pack-two {
    bottom: 3%
  }
  .pack-open {
    bottom: 29%
  }
}
@media (max-width:23.81125em) {
  .logo__flint {
    width: 5rem!important
  }
  .logo__crount {
    width: 8.5625rem!important
  }
}
@media (min-width:90.06125em)and (max-width:120.06125em) {
  .txt-fs-1 {
    font-size: clamp(5.3125rem ,.6218098958rem + 5.2083333333vw ,6.875rem)
  }
  .txt-fs-2 {
    font-size: clamp(3.625rem ,.4353307292rem + 3.5416666667vw ,4.6875rem)
  }
  .txt-fs-3 {
    font-size: clamp(2.5rem ,.24846875rem + 2.5vw ,3.25rem)
  }
  .txt-fs-4 {
    font-size: clamp(2.5rem ,1.1866067708rem + 1.4583333333vw ,2.9375rem)
  }
  .txt-fs-5 {
    font-size: clamp(2.5rem ,1.1866067708rem + 1.4583333333vw ,2.9375rem)
  }
  .txt-fs-6 {
    font-size: clamp(3.4375rem ,-.3150520833rem + 4.1666666667vw ,4.6875rem)
  }
  .txt-fs-7 {
    font-size: clamp(2.0625rem ,-.7519140625rem + 3.125vw ,3rem)
  }
  .txt-fs-8 {
    font-size: clamp(3.75rem ,-1.1283177083rem + 5.4166666667vw ,5.375rem)
  }
  .logo__flint {
    width: clamp(4.375rem ,-1.253828125rem + 6.25vw ,6.25rem)
  }
  .logo__crount {
    width: clamp(10.125rem ,-3.0089322917rem + 14.5833333333vw ,14.5rem)
  }
  .over-els__txt-wr {
    padding-block: clamp(.875rem ,-.250765625rem + 1.25vw ,1.25rem)
  }
  .over-els__txt-wr {
    padding-inline: clamp(1.3125rem ,.186734375rem + 1.25vw ,1.6875rem)
  }
  .pack {
    width: clamp(22.75rem ,2.8614739583rem + 22.0833333333vw ,29.375rem)
  }
  .pack-open {
    width: clamp(17.9375rem ,4.2406848958rem + 15.2083333333vw ,22.5rem)
  }
  .video-youtube__button::before {
    width: clamp(6.25rem ,-3.1313802083rem + 10.4166666667vw ,9.375rem)
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .txt-fs-1 {
    font-size: clamp(3.4375rem ,2.4980859375rem + 3.125vw ,5.3125rem)
  }
  .txt-fs-2 {
    font-size: clamp(2.3125rem ,1.6549101563rem + 2.1875vw ,3.625rem)
  }
  .txt-fs-3 {
    font-size: clamp(1.625rem ,1.1866067708rem + 1.4583333333vw ,2.5rem)
  }
  .txt-fs-4 {
    font-size: clamp(1.9375rem ,1.6556757813rem + .9375vw ,2.5rem)
  }
  .txt-fs-5 {
    font-size: clamp(2.1875rem ,2.0309309896rem + .5208333333vw ,2.5rem)
  }
  .txt-fs-6 {
    font-size: clamp(1.625rem ,.7168997396rem + 3.0208333333vw ,3.4375rem)
  }
  .txt-fs-7 {
    font-size: clamp(1.75rem ,1.5934309896rem + .5208333333vw ,2.0625rem)
  }
  .txt-fs-8 {
    font-size: clamp(3.1875rem ,2.9056757813rem + .9375vw ,3.75rem)
  }
  .over-els__txt-wr {
    padding-block: clamp(.75rem ,.6873723958rem + .2083333333vw ,.875rem)
  }
  .over-els__txt-wr {
    padding-inline: clamp(.75rem ,.4681757813rem + .9375vw ,1.3125rem)
  }
  .pack {
    width: clamp(12.375rem ,7.1769088542rem + 17.2916666667vw ,22.75rem)
  }
  .pack-open {
    width: clamp(10.8125rem ,7.2427265625rem + 11.875vw ,17.9375rem)
  }
  .video-youtube__button::before {
    width: clamp(3.75rem ,2.4974479167rem + 4.1666666667vw ,6.25rem)
  }
}
@media (max-width:96.93625em)and (min-width:51.31125em) {
  .fp-section-1 .logo {
    left: 93%;
    top: 10%
  }
  .fp-section-2 .logo {
    left: 93%;
    top: 10%
  }
  .fp-section-3 .logo {
    top: 10%
  }
  .fp-section-4 .logo {
    top: 10%
  }
}
@media (min-width:30.06125em)and (max-width:120.06125em) {
  .section-4__crounts-img.crounts-img-01 {
    width: clamp(8.75rem ,6.4536545139rem + 7.6388888889vw ,15.625rem)
  }
}
@media (min-width:90.06125em)and (max-width:120em) {
  .video-youtube {
    max-width: clamp(45.625rem ,-5.1380944428rem + 56.3650787024vw ,62.5rem)
  }
}
@media (any-hover:hover) {
  .section-4__link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .video-youtube__button:hover::before {
    -webkit-transform: translate(-50%,-50%) scale(1.1);
    transform: translate(-50%,-50%) scale(1.1)
  }
}