.section {
  // .section__wrapper
  &__wrapper {
    position: absolute;
    overflow: hidden;
    inset: 0;
    z-index: 1;
  }
  // .section__bg
  &__bg {
    position: absolute;
    inset: 0;
  }
}

%ImgSize {
  width: 100%;
  height: auto;
}
%transition-1 {
  transition: opacity .45s ease;
}

@keyframes spin-1 {
  0% {
    transform: rotate(0deg) scale(2.1);
  }
 
  100% {
    transform: rotate(1080deg) scale(1);
  }
}
@keyframes spin-2 {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(720deg);
  }
  
  65% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity-2-rev {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-rev {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  pointer-events: none;
  .loaded & {
    @media (min-width:toEm(1550.98)){
      top: 14%;
    }
    @media (max-width:toEm(1550.98)){
      top: 20%;
    }
    @media (max-width:toEm(390.98)){
       top: 10%; 
    }
    transition: top .85s ease 1.4s, left .75s ease, transform .75s ease;
  }
  ._step-03 & {
    transition-delay: 0s;
  }
  .fp-section-1 & {
    @media (min-width:toEm(1550.98)){
      left: 93%;        
    }
    @media (max-width: toEm(1550.98)) and (min-width:toEm(820.98)){
      left: 93%;
      top: 10%;
    }
    @media (max-width:toEm(820.98)){
      top: 8%;
      left: 13%;
      transform: translate(-50%,-50%) scale(.7);
    }
  }
  .fp-section-2 & {
    @media (min-width:toEm(1550.98)){
      left: 93%;        
    }
    @media (max-width: toEm(1550.98)) and (min-width:toEm(820.98)){
      left: 93%;
      top: 10%;
    }
    @media (max-width:toEm(820.98)){
      top: 8%;
      left: 13%;
      transform: translate(-50%,-50%) scale(.7);
    }
  }
  .fp-section-3 & {
    @media (max-width: toEm(1550.98)) and (min-width:toEm(820.98)){
      top: 10%;
    }
    @media (min-width:toEm(820.98)){
      left: 50%;
      transform: translate(-50%,-50%) scale(1.5);
    }
    @media (max-width:toEm(820.98)){
      top: 20%;
      left: 50%;
      transform: translate(-50%,-50%) scale(1);
    }
  }
  .fp-section-4 & {
    @media (max-width: toEm(1550.98)) and (min-width:toEm(820.98)){
      top: 10%;
    }
  }
	// .logo__wrapper
	&__wrapper {
    position: relative;
    transform-origin: 50% 50%;
    transform: rotate(0deg) scale(2.1);
    .loaded & {
      animation: spin-1 2s ease 0.5s normal forwards;
    }
    ._step-03 & {
      animation: spin-2 3s ease 0s normal forwards;
    }
	}
  // .logo__flint
  &__flint {
    position: relative;
    z-index: 2;
    @include adaptiveValue("width", 100, 70,0,1920.98,1440.98);
    height: auto;
    opacity: 0;
    .loaded & {
      opacity: 1;
      transition: opacity .45s ease 1.2s;
    }
    @media (max-width:$mobileSmall){
      width: toRem(100) !important; 
    }
    @media (max-width: toEm(380.98)){
      width: toRem(80) !important; 
    }
  }
  // .logo__flint-svg
  &__flint-svg {
    position: relative;
    z-index: 1;
    @extend %ImgSize;
    @extend %transition-1;
    ._step-03 & {
      animation: opacity-rev 3s ease 0s normal forwards;
    }
  }
  // .logo__flint-spin
  &__flint-spin {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    @extend %ImgSize;
    @extend %transition-1;
    .loaded & {
      opacity: 0;
      transition-delay: 1.7s;
    }
  }
  // .logo__crount
  &__crount {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include adaptiveValue("width", 232, 162,0,1920.98,1440.98);
    height: auto;
    .loaded & {
      opacity: 0;
      transition: opacity .45s ease 1.2s;
    }
    ._step-03 & {
      animation: opacity 3s ease 0s normal forwards;
    }
    @media (max-width:$mobileSmall){
       width: toRem(172) !important; 
    }
    @media (max-width: toEm(380.98)){
       width: toRem(137) !important; 
    }
  }
  // .logo__crount-norm
  &__crount-norm {
    position: relative;
    z-index: 2;
    @extend %ImgSize;
    @extend %transition-1;
    .loaded & {
      opacity: 0;
      transition-delay: 0.5s;
    }
    ._step-03 & {
      animation: opacity 3s ease 0s normal forwards;
    }
  }
  // .logo__crount-spin
  &__crount-spin {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @extend %ImgSize;
    opacity: 0;
    .loaded & {
      opacity: 1;
      @extend %transition-1;
      transition-delay: 0.4s;
    }
    ._step-03 & {
      animation: opacity-2 3s ease 0s normal forwards;
    }
  }
}

.over-els {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  // inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  // .over-els__txt
  &__txt {
    position: absolute;
    z-index: 1;
    .loaded & {
      transition: transform .75s ease, bottom .75s ease, left .75s ease, top .55s ease, opacity .45s ease;
    }
    ._step-02 &,
    ._step-03 & {
      transition-delay: 0s;
    }
    // .over-els__txt--00
    &--00 {
      bottom: 0%;
      opacity: 0;
      .loaded & {
        transition-delay: 1.4s;
      }
      ._step-02 &,
      ._step-03 & {
        transition-delay: 0s;
      }
      @media (min-width:toEm(1500.98)){
        .loaded & {
          bottom: 10% !important;
        }
      }
      @media (max-width: toEm(1550.98)){
          .loaded & {
            bottom: 14%;
          }
      }
      @media (min-width:$mobileSmall){
        left: 8%;
        transform: translate(0,100%);
        .loaded & {
          transform: translate(0,0%);
          opacity: 1;
        }
        ._step-02 & {
          left: 0;
          transform: translate(-100%,0%);
        }
      }
      @media (max-width:$mobileSmall){
        left: 50%;
        transform: translate(-50%,100%);
        .loaded & {
          transform: translate(-50%,0%);
          opacity: 1;
        }
        ._step-02 & {
          left: 0;
          transform: translate(-100%,0%);
        }
      }
    }
    // .over-els__txt--01
    &--01 {
      z-index: 3;
      left: 100%;
      bottom: 14%;
      opacity: 0;
      ._step-02 & {
        opacity: 1;
      }
      @media (min-width:$mobileSmall){
        // bottom: 14%;
        ._step-02 & {
          left: 8%;
        }
        .fp-section-1 & {
          left: 0%;
          transform: translate(-100%,0%);
        }
      }
      @media (max-width:$mobileSmall){
        // bottom: 14%;
        transform: translate(0%,0%);
        ._step-02 & {
          left: 50%;
          transform: translate(-50%,0%);
        }
        .fp-section-1 & {
          left: 0%;
          transform: translate(-100%,0%);
        }
      }
      
    }
    // .over-els__txt--02
    &--02 {
      left: 100%;
      @media (min-width:toEm(820.98)){
        bottom: 14%;
      }
      @media (max-width: toEm(820.98)){
        top: 45%;          
      }
      @media (max-width: toEm(390.98)){
        top: 40%;
      }
      .fp-section-1 & {
        left: 50%;
        transform: translate(-50%,0%);
      }
      .fp-section-2 &,
      .fp-section-3 &,
      .fp-section-4 & {
        left: 0%;
        transform: translate(-100%,0%);
      }
    }
    // .over-els__txt--03
    &--03 {
     left: 100%;
     bottom: 14%;
     .fp-section-2 & {
       left: 50%;
       transform: translate(-50%,0%);
     }
     .fp-section-3 &,
     .fp-section-4 & {
       bottom: -10%;
       left: 50%;
       transform: translate(-50%,100%);
     }
    }
     // .over-els__txt--04
     &--04 {
      top: -5%;
      left: 50%;
      transform: translate(-50%,-100%);
      .fp-section-3 &,
      .fp-section-4 & {
        transform: translate(-50%,0%);
        @media (min-width:toEm(820.98)){
          top: 25%;
        }
        @media (max-width: toEm(820.98)){
          top: 75%;
        }
      }
      .fp-section-4 & {
        opacity: 0;
      }
     }
  }
  // .over-els__txt-wr
  &__txt-wr {
    width: max-content;
    @include adaptiveValue("padding-block", 20, 14,2,1920.98,1440.98);
    @include adaptiveValue("padding-block", 14, 12,3,1440.98,480.98);
    @include adaptiveValue("padding-inline", 27, 21,2,1920.98,1440.98);
    @include adaptiveValue("padding-inline", 21, 12,3,1440.98,480.98);
    background: linear-gradient(94deg, #ea2815 0%, #d30b54 100%);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    transform: rotate(-6deg) skew(-6deg);
    transform-origin: center;
    text-align: center;
    p {
    }
  }
}

// размер шрифта для пк на 10% меньше макетного
.txt-fs-1 {
  @include adaptiveValue("font-size", 110, 85,2,1920.98,1440.98);
  @include adaptiveValue("font-size", 85, 55,3,1440.98,480.98);
}
.txt-fs-2 {
  @include adaptiveValue("font-size", 75, 58,2,1920.98,1440.98);
  @include adaptiveValue("font-size", 58, 37,3,1440.98,480.98);
}
.txt-fs-3 {
  @include adaptiveValue("font-size", 52, 40,2,1920.98,1440.98);
  @include adaptiveValue("font-size", 40, 26,3,1440.98,480.98);
  letter-spacing: -0.01em;
}
.txt-fs-4 {
  @include adaptiveValue("font-size", 47, 40,2,1920.98,1440.98);
  @include adaptiveValue("font-size", 40, 31,3,1440.98,480.98);
  letter-spacing: -0.01em;
  line-height: 1.03;
}
.txt-fs-5 {
  @include adaptiveValue("font-size", 47, 40,2,1920.98,1440.98);
  @include adaptiveValue("font-size", 40, 35,3,1440.98,480.98);
  letter-spacing: -0.01em;
  line-height: 1.03;
}
.txt-fs-6 {
  @include adaptiveValue("font-size", 75, 55,2,1920.98,1440.98);
  @include adaptiveValue("font-size", 55, 26,3,1440.98,480.98);
  letter-spacing: -0.01em;
  line-height: 1.2;
}
.txt-fs-7 {
  @include adaptiveValue("font-size", 48, 33,2,1920.98,1440.98);
  @include adaptiveValue("font-size", 33, 28,3,1440.98,480.98);
  letter-spacing: -0.03em;
}
.txt-fs-8 {
  @include adaptiveValue("font-size", 86, 60,2,1920.98,1440.98);
  @include adaptiveValue("font-size", 60, 51,3,1440.98,480.98);
  letter-spacing: -0.01em;
}

.pack {
  position: absolute;
  transition: transform .75s ease, bottom .75s ease, left .75s ease, right .85s ease, opacity .55s ease-in-out;
  @include adaptiveValue("width", 470, 364,2,1920.98,1440.98);
  @include adaptiveValue("width", 364, 198,3,1440.98,480.98);
  .fp-section-3 &,
  .fp-section-4 & {
    opacity: 0;
  }
  &.pack-two {
    bottom: -100%;
    @media (min-width:toEm(820.98)){
      left: 19%;
    }
    @media (max-width: toEm(820.98)){
      left: -2%;
    }
    .fp-section-1 & {
      @media (min-width:toEm(820.98)){
        bottom: -17%;
      }
      @media (max-width: toEm(820.98)){
        bottom: 10%;
      }
      @media (max-width: toEm(390.98)){
        bottom: 3%;
      }
    }
    .fp-section-2 &,
    .fp-section-3 &,
    .fp-section-4 & {
      transform: translate(0%,0%) scale(0.85) rotate(-5deg);
      @media (min-width:toEm(820.98)){
        left: 5%;
        bottom: 0%;
      }
      @media (max-width: toEm(820.98)){
        left: 8%;
        bottom: 15%;
      }
    }
    
    .pack-two__img {
      @extend %ImgSize;
    }
  }
  
  &.pack-three {
    right: 100%;
    bottom: 30%;
    transform: translate(-100%,0%) scale(.85) rotate(-5deg);
    .fp-section-2 &,
    .fp-section-3 & {
      transform: translate(0%,0%) scale(.85) rotate(5deg);
      @media (min-width:toEm(820.98)){
        right: 5%;
        bottom: 0%;
      }
      @media (max-width: toEm(820.98)){
        right: 8%;
        bottom: 19%;
      }
    }
		.pack-three__img {
      @extend %ImgSize;
		}
  }
}




// === SECTION 0 ================================
.section-0 {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.4);
    // opacity: 0;
    .loaded & {
      opacity: 0;
      transition: opacity .85s linear 1.4s;
    }
  }

  // .section-0__wrapper
  &__wrapper {
  }
  // .section-0__bg
  &__bg {
    img {
      @media (max-width:$mobileSmall){
         object-position: bottom; 
      }
    }
  }
}


.pack-open {
  position: absolute;
  z-index: 2;
  .loaded & {
    transition: transform .75s ease, bottom .75s ease, left .75s ease, opacity .45s ease;
  }
  @include adaptiveValue("width", 360,287,2,1920.98,1440.98);
  @include adaptiveValue("width", 287,173,3,1440.98,480.98);
  img {
    @extend %ImgSize;
  }
  @media (min-width:toEm(1550.98)){
    bottom: 4%;
  }
  @media (min-width:$mobileSmall){
    left: 54%;
    bottom: 14%;
    opacity: 0;
    transform: translate(0%,0%) rotate(11deg) scale(0.55);
    ._step-02 & {
      left: 12%;
      bottom: 24%;
      opacity: 1;
      transform: translate(0%,0%) rotate(-5.7deg);
    }
    .fp-section-1 & {
      left: 0;
      transform: translate(-100%,0%) rotate(-5.7deg);
    }
  }
  @media (max-width:$mobileSmall){
    left: 60%;
    bottom: 26%;
    opacity: 0;
    transform: translate(0%,0%) rotate(11deg) scale(0.7);
    ._step-02 & {
      left: 10%;
      bottom: 22.5%;
      opacity: 1;
      transform: translate(0%,0%) rotate(-5.7deg);
    }
    .fp-section-1 & {
      left: 0;
      transform: translate(-100%,0%) rotate(-5.7deg);
    }
  }
  @media (max-width: toEm(390.98)){
    bottom: 29%;
  }
  // .pack-open__up
  &__up {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    transform-origin: 0;
    ._step-02 & {
      transform: translate(-100%,0) rotate(-40deg);
      transition: transform .85s ease 0.55s;
    }
  }
  // .pack-open__img-up
  &__img-up {
  }
  // .pack-open__dw
  &__dw {
    position: relative;
    z-index: 3;
  }
  // .pack-open__img-dw
  &__img-dw {
  }
  // .pack-open__crount
  &__crount {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 51%;
    width: 75%;
    transform: translate(-50%,0);
    ._step-02 & {
      top: -5%;
      transition: top .45s ease 0.75s;
    }
  }
  // .pack-open__img-crount
  &__img-crount {
  }
}


// === SECTION 1 ================================
.section-1 {
    // .section-1__bg
    &__bg {
      img {
        @media (max-width:toEm(820.98)){
           object-position: bottom; 
        }
      }
    }
}



// === SECTION 2 ================================
.section-2 {
}


// === SECTION 3 ================================
.section-3 {
}


// === SECTION 4 ================================
.section-4 {
}
